# BEGIN: /c:/Users/arnau/OneDrive/Documents/0 Travail/2023-2024/S6/INFO Crypto/.gitignore
__pycache__
temp.py
Message/Test
# END: /c:/Users/arnau/OneDrive/Documents/0 Travail/2023-2024/S6/INFO Crypto/.gitignore
